#main-header{
  text-align:center;
  background-color: blanchedalmond;
  color:maroon;
  padding:10px;
  border: 5px white solid;
  letter-spacing:0.5em; 
}
body{
  background-color:rgb(235, 232, 232);
  line-height: 1.9em;
}
.box-1{
  background-color:blanchedalmond;
  border-right: 5px white solid;
  border-bottom: 5px white solid;
  border-top:5px white solid;
  border-left:5px white solid;
}
a{
  text-decoration: none;
  color:maroon;
}
a:active{
  color: brown
}
a:hover{
  color: lightgray;
}
.container{
  width:500px
  margin: auto;
}
.button{
  margin-right: 120px;
  margin-left: 120px;
}
.title{
  text-align: center;
}
.words{
  margin-right: 100px;
  margin-left:100px
}
          