#main-header{
  text-align:center;
  color:maroon;
  padding:0px;
  letter-spacing:0.5em; 
}
.myname{
  float:left;
}
.navone{
  float:right;
}
.p-box{
  width:100%px;
  height:300px;
  border:0px;
  background-color: blanchedalmond;
  background-image: images/backdrop.jpg;
}
}
.box-1{
  background-color:blanchedalmond;
  border-right: 5px white solid;
  border-bottom: 5px white solid;
  border-top:5px white solid;
  border-left:5px white solid;
}
a{
  text-decoration: none;
  color:maroon;
}
a:active{
  color: brown
}
a:hover{
  color: lightgray;
}
.container{
  width:500px
  margin: auto;
}
.button{
  margin-right: 5px;
  margin-left: 5px;
}
.title{
  text-align: center;
}
.words{
  margin-right: 100px;
  margin-left:100px
}
.photo{
   
}
          